<header>
    <img src="/images/logo.webp" alt="Logo Rock Bands" id="logo-rocks-bands"/>
    <nav class="header--nav">
        <ul class="header--nav--left">
            <li><a href="/rock-bands">Home</a></li>
            <li><a href="/rock-bands/bands">Eventos</a></li>
            <li><a href="/rock-bands/bands/new">Albums</a></li>
            <li><a href="/rock-bands/bands/new">Instrumentos</a></li>
            <li><a href="/rock-bands/bands/new">Parlantes</a></li>
        </ul>
        <ul class="header--nav--right">
            <% if (locals.session) { %>
                <li><img src="/images/profile.webp" alt="imagen de perfil"><a href="/users/profile/<%= session.id %>">Profile</a></li>
                <li><a href="/users/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/users/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
            <% } %>
        </ul>
    </nav>
</header>